/* GENERAL FORMATTING AND STYLE */

/* Import fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Place the text */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Smooth mouse behaviour */

html {
  scroll-behavior: smooth;
}

/* Transition */

a,
.btn {
  transition: all 300ms ease;
}

/* Navigation bar */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/*Hamburger menu*/

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

/*Hamburger icon*/

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/*SECTIONS*/

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTON */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 50%; /* 2 rem para redondear bordes */
  border: 1px solid rgb(29, 78, 216);
}

.icon_arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  width: 50px; /* Ajusta este valor según sea necesario */
  height: auto;
  transform: rotate(180deg);
}

.details-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-bottom: 5px;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section_pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* LANGUAGE INCLUDED */

.pretext-container {
  background-color: white;
  border: rgb(163, 163, 163) 0.1rem solid;
  border-radius: 2rem;
  padding: 5px;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
  text-align: center;
  width: 97.5%;
  margin: 10px auto;
}

.pretext-container h3 {
  font-size: 20px;
  margin-bottom: 2px;
}

.pretext-container p {
  font-size: 16px;
}

/* EDUCATION SECTION */

#education {
  position: relative;
  overflow: auto;
}

.education {
  padding: 100px 15px;
}

.education h2 {
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  max-height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%; /* La línea de tiempo se extiende hasta el final */
  left: calc(50% - 1px);
  top: 0;
  background-color: rgb(29, 78, 216);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-items:last-child {
  margin-bottom: 0;
}

.timeline-items:nth-child(odd) {
  padding-right: calc(50% + 30px);
  padding-left: 0;
  text-align: right;
}

.timeline-items:nth-child(even) {
  padding-left: calc(50% + 30px);
  padding-right: 0;
}

.timeline-dot {
  height: 21px;
  width: 21px;
  position: absolute;
  left: calc(50% - 8.5px);
  border-radius: 50%;
  top: 10px;
  background-color: rgb(29, 78, 216);
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: white;
  border: 3px solid rgb(29, 78, 216);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px rgb(29, 78, 216);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgb(29, 78, 216);
}

.timeline-content h3 {
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

#education::-webkit-scrollbar {
  background-color: rgb(29, 78, 216);
  width: 0px;
}

#education::-webkit-scrollbar-track {
  background-color: rgb(163, 163, 163);
  width: 50px;
  display: none;
}

/* EXPERIENCE SECTION */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
  grid-template-rows: auto; /* Las filas se ajustan automáticamente según el contenido */
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px; /* Espacio alrededor de la cuadrícula */
}

.box-container,
.skills-container {
  padding: 1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-bottom: 5px;
}

.skills-container .article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container .article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  grid-template-rows: repeat(3, auto); /* Tres filas automáticas */
  gap: 10px; /* Espacio entre los artículos */
}

.skills-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(255, 255, 255);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

/* FOOTER SECTION */

#footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}
